/* Section 3 */
.section3-box{
    display: flex;
}

.section3-box-picture{
    width: calc(100% / 3);
    height: 300px;
    overflow: hidden;
    padding: 0 20px;
}

.section3-box-picture__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}


