h1{
    font-family: var(--font-Mervale-Script), sans-serif;
}

h2{
    font-family: var(--font-Lobster-Two), sans-serif;
}

h3{
    font-family: var(--font-Londrina-Solid), sans-serif;
}

h4{
    font-family: var(--font-Madimi-One);
}